@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {

  :root {
    font-family: "Roboto Mono", monospace;
  }

  :root,
  :root[data-theme="light"] {
    color-scheme: light;
    --theme-bg: 0deg 0% 98%;
    --theme-text: 203deg 11% 15%;
  }
  :root[data-theme="dark"]{
    color-scheme: dark;
    --theme-bg: 210deg 6% 12%;
		--theme-text: 220deg 3% 79%;
  }


  html {
    scroll-behavior: smooth;
  }

  body {
    @apply flex flex-col justify-between min-h-dvh max-w-[960px] pt-12 px-12 mx-auto bg-bgColor text-textColor;
  }
  
  h1 {
    @apply text-xl font-extrabold my-2 tracking-normal;
  }

  h2 {
    @apply text-lg font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }

  h4 {
    @apply text-base font-semibold my-2;
  }

  p {
    @apply my-4 text-sm;
  }

  p img {
    @apply rounded-md w-[90%] mx-auto;
  }

  a {
    @apply text-dark-sky cursor-pointer hover:underline;
  }

  li p:first-child{
    @apply before:content-["#"]
  }
}

.katex {
  @apply text-base my-6;
}

hr {
  @apply my-5 border-dashed border;
}
