---
import { menuLinks } from "../site.config";
import logo from "../images/logo.png";
---

<header id="main-header" class="flex items-center justify-between mb-20">
  <div class="flex group">
    <div class="flex gap-5 items-center">
      <img
        src={logo.src}
        alt="SICP lambda icon"
        class="h-[4.5rem] opacity-50 duration-100 group-hover:opacity-90"
      />
      <div class="flex flex-col gap-1">
        <h1 class="text-2xl font-bold">SICP-JS Exercises</h1>
        <nav id="nav-menu">
          {
            menuLinks.map((link, index) => {
              const padding =
                index === 0
                  ? "pr-4"
                  : index === menuLinks.length - 1
                    ? "pl-4"
                    : "px-4";
              const border =
                index !== menuLinks.length - 1
                  ? "border-dashed border-dark-sky border-r"
                  : "";
              return (
                <a
                  class={
                    "inline-flex text-center hover:underline" +
                    " " +
                    padding +
                    " " +
                    border
                  }
                  href={link.path}
                >
                  {link.title}
                </a>
              );
            })
          }
        </nav>
      </div>
    </div>
  </div>
  <div>theme</div>
</header>
