---
import { menuLinks } from "../site.config";
// const url = new URL(Astro.request.url);
---

<header id="main-header" class="flex items-center justify-between mb-24">
  <div class="flex">
    <div></div>
    <div class="flex flex-col gap-2">
      <h1 class="text-2xl font-bold">SICP-JS Solutions</h1>
      <nav id="nav-menu" class="text-dark-sky">
        {
          menuLinks.map((link, index) => {
            const padding =
              index === 0
                ? "pr-4"
                : index === menuLinks.length - 1
                  ? "pl-4"
                  : "px-4";
            const border =
              index !== menuLinks.length - 1
                ? "border-dashed border-dark-sky border-r"
                : "";
            return (
              <a
                class={
                  "inline-flex text-center hover:underline" +
                  " " +
                  padding +
                  " " +
                  border
                }
                href={link.path}
              >
                {link.title}
              </a>
            );
          })
        }
      </nav>
    </div>
  </div>
  <div>theme</div>
</header>
