---

---

<div class="flex">
  <button
    id="btn-theme-toggle"
    class="p-1 rounded-md duration-150 outline outline-zinc-500/0 hover:outline-zinc-500"
  >
  </button>
</div>

<script>
  import { moonIcon, sunIcon } from "../images/svg_icons";

  const button = document.querySelector("#btn-theme-toggle");
  const root = document.documentElement;
  button!.innerHTML =
    root.getAttribute("data-theme") === "light" ? sunIcon : moonIcon;

  const setTheme = (newTheme: string) => {
    if (newTheme === root.getAttribute("data-theme")) return;
    root.setAttribute("data-theme", newTheme);
    button!.innerHTML = newTheme === "light" ? sunIcon : moonIcon;
    localStorage.setItem("sicp-theme", newTheme);
  };

  button!.addEventListener("click", () => {
    root.getAttribute("data-theme") === "light"
      ? setTheme("dark")
      : setTheme("light");
  });
</script>
